[DIRECTORIES]
projectGroup = fossy
projectUser = fossy
moduledir = /usr/local/share/fossology
agentsdir = /usr/local/lib/fossology/agents

[FOSSOLOGY]
depth = 0
path = /srv/fossology/repository
scheduler_host = __SCHEDULER_HOST__

[HOSTS]
localhost = localhost /usr/local/etc/fossology 4
__HOSTS__

[REPOSITORY]
path = /srv/fossology/repository
